<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:text="#{l.hi}"></h1>
    <a href="#" ONCLICK="change('zh')" th:text="#{l.l}"></a>
    <a href="#" ONCLICK="change('en')" th:text="#{l.e}"></a>
</body>
<script src="../../static/jquery/jquery.min.js"></script>
<script>
    function change(lang) {
        $.ajax({
            type:"post",
            url:"changeLang",
            data:{
                lang:lang
            },
            success:function (data) {
                location.reload()
            },
            error:function (data) {
                alert(data)
            }

        })
    }


</script>

</html>